@model IEnumerable<WebSite.Models.Suknele>

<table class="table table-condensed table-striped">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Genger</th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <th>@item.name</th>
            <th>@item.price</th>
            <th>@item.genger</th>
        </tr>
    }
</table>