@model WebSite.Models.Suknele


<table class="table table-condensed table-striped">
    <tr>
        <td>@Model.name</td>
    </tr>
    <tr>
        <td>@Model.price</td>

    </tr>
    <tr>
        <td>@Model.genger</td>
    </tr>
</table>


